
.container{
    width: 100%;
    display: flex;
    height: 100vh;
}

.left{
    background-image: url('./screen-6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
    width: 80%;
}

.inner{
    position: relative;
    z-index: 1;
}

.inner h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
    margin: 100px 10px;
    font-size: 20px;
}

.inner p{
    font-family: cursive;
    color: cornsilk;
    margin: 10px;
    font-weight: 1000;
}